#autocomplete-list {
    position: absolute;
    z-index: 1000;
    width: 100%;
}

#autocomplete-list .list-group-item {
    cursor: pointer;
}

#map {
    margin-top: 20px;
    border: 1px solid #666;
}
